#round {
  height: 25px;
  width: 25px;
  position: relative;
  border-radius: 50%;
  z-index: 100;
  top: 163px;
  right: 18px;
  background: green;
  border: 3px solid white;
}
#round2 {
  height: 25px;
  width: 25px;
  position: relative;
  border-radius: 50%;
  z-index: 100;
  top: 463px;
  right: 43px;
  background: green;
  border: 3px solid white;
}

#round3 {
  height: 25px;
  width: 25px;
  position: relative;
  border-radius: 50%;
  z-index: 100;
  top: 793px;
  right: 67px;
  background: green;
  border: 3px solid white;
}
